<div class="min-h-screen bg-gray-100 p-3 md:p-6">
  <!-- Header -->
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-3 mb-6">
    <h1 class="text-xl md:text-2xl font-semibold text-blue-800">Competition Manager :</h1>

    <div class="flex items-center gap-2">
      <button
      (click)="ModelIsShow.set(true)"
      class="flex items-center cursor-pointer justify-center gap-2 bg-blue-700 px-4 py-2 rounded text-white font-semibold hover:bg-blue-800 transition active:scale-95"
    >
      <i class="fa fa-plus"></i>
      Add Competition
    </button>
            <input [value]="searchTerm" [(ngModel)]="searchTerm" type="search" id="search" class="block w-full md:w-1/2 p-2 ps-9 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded focus:ring-brand focus:border-brand shadow-xs placeholder:text-body" placeholder="Search Competition....." required />

    </div>
  </div>

  @if (getCompetitionsLoading()) {
    <div class="bg-black/80 flex items-center justify-center fixed inset-0 z-10000">
      <i class="fa fa-spin fa-spinner text-[70px] text-blue-800"></i>
    </div>
  } @else {
    <!-- Desktop Table -->
    <div class="hidden md:block bg-white shadow rounded overflow-hidden">
      <table class="w-full text-left">
        <thead class="bg-gray-50 text-gray-700">
          <tr>
            <th class="p-3">Title</th>
            <th class="p-3">Description</th>
            <th class="p-3">Start</th>
            <th class="p-3">End</th>
            <th class="p-3">Status</th>
            <th class="p-3 text-center">Actions</th>
          </tr>
        </thead>

        <tbody>
          @for (item of competitionArr | searchByTiTleOrDescription : searchTerm; track $index) {
            <tr class="border-t border-gray-200 hover:bg-gray-50 transition cursor-pointer">
              <td class="p-3 font-medium">{{ item?.title }}</td>
              <td class="p-3 text-gray-600 line-clamp-1">{{ item?.description }}</td>

              <td class="p-3">
                {{ item?.startDate | date: 'dd/MM/yyyy' }}
              </td>

              <td class="p-3">
                {{ item?.endDate | date: 'dd/MM/yyyy' }}
              </td>

              <td class="p-3">
                <span class="px-3 py-1 rounded-full text-sm bg-blue-100 text-blue-700">
                  {{ item?.status }}
                </span>
              </td>

              <td class="p-3 flex justify-center gap-2">
                <button
                  (click)="
                    updateModelShow.set(true);
                    selectedCompetitionId.set(item.competitionId);
                    handleUpdate(item.competitionId)
                  "
                  class="bg-yellow-400 px-3 py-1 rounded hover:bg-yellow-500 transition cursor-pointer"
                >
                  <i class="fa fa-pen"></i>
                </button>

                <button
                  (click)="deleteCompetition(item.competitionId)"
                  class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 transition cursor-pointer"
                >
                  <i class="fa fa-trash"></i>
                </button>
                <button
                  [routerLink]="['/projects-competition', item.competitionId]"
                  class="bg-blue-700 size-10 text-white flex items-center justify-center rounded-full cursor-pointer"
                >
                  <i class="fa-solid fa-eye"></i>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <!-- Mobile Cards -->
    <div class="md:hidden space-y-4">
      @for (item of competitionArr; track $index) {
        <div class="bg-white p-4 rounded-xl shadow space-y-3 hover:shadow-md transition">
          <div class="flex justify-between items-start">
            <h3 class="font-semibold text-blue-800">
              {{ item?.title }}
            </h3>

            <span class="px-2 py-1 text-xs rounded-full bg-blue-100 text-blue-700">
              {{ item?.status }}
            </span>
          </div>

          <p class="text-gray-600 text-sm">
            {{ item?.description }}
          </p>

          <div class="text-sm text-gray-500 space-y-1">
            <p><i class="fa fa-calendar mr-2"></i>{{ item?.startDate | date }}</p>
            <p><i class="fa fa-calendar mr-2"></i>{{ item?.endDate | date }}</p>
          </div>

          <div class="flex gap-2 pt-2">
            <button
              (click)="
                updateModelShow.set(true);
                selectedCompetitionId.set(item.competitionId);
                handleUpdate(item.competitionId)
              "
              class="flex-1 bg-yellow-400 py-2 rounded hover:bg-yellow-500 cursor-pointer"
            >
              Edit
            </button>

            <button
              (click)="deleteCompetition(item.competitionId)"
              class="flex-1 bg-red-500 text-white py-2 rounded hover:bg-red-600 cursor-pointer"
            >
              Delete
            </button>
            <button
              [routerLink]="['/projects-competition', item.competitionId]"
              class="bg-blue-700 size-10 text-white flex items-center justify-center rounded-full cursor-pointer"
            >
              <i class="fa-solid fa-eye"></i>
            </button>
          </div>
        </div>
      }
    </div>
  }
</div>

@if (ModelIsShow()) {
  <div class="fixed inset-0 z-50 bg-black/80 flex items-center justify-center p-4">
    <div class="bg-white w-full max-w-lg rounded-xl shadow-xl p-6 max-h-[90vh] overflow-y-auto">
      <h2 class="text-xl md:text-2xl font-semibold text-blue-800 mb-4">Create Competition :</h2>

      <form (ngSubmit)="addCompetition()" class="space-y-4" [formGroup]="competitionForm">
        <div class="space-y-2">
          <label for="competition-title" class="block font-semibold">Competition Title : </label>
          <input
            formControlName="title"
            id="competition-title"
            placeholder="Title"
            class="w-full border rounded px-3 py-2 focus:ring focus:ring-blue-200"
          />
        </div>

        <div class="space-y-2">
          <label for="competition-description" class="font-semibold block"
            >Competition Description :</label
          >
          <textarea
            formControlName="description"
            placeholder="Description"
            id="competition-description"
            class="w-full border rounded px-3 py-2"
          ></textarea>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div class="space-y-2">
            <label for="start-date" class="font-semibold block">Start Date : </label>
            <input
              type="date"
              formControlName="startDate"
              class="w-full border rounded px-3 py-2"
            />
          </div>
          <div class="space-y-2">
            <label for="endDate" class="font-semibold block">End Date :</label>
            <input type="date" formControlName="endDate" class="w-full border rounded px-3 py-2" />
          </div>
        </div>

        <div class="space-y-2">
          <label for="competition-status" class="font-semibold block">Competition Status :</label>
          <select formControlName="status" class="w-full border rounded px-3 py-2">
          <option>Active</option>
          <option>Upcoming</option>
          <option>Closed</option>
        </select>
        </div>

        <div class="flex justify-end gap-3 pt-4">
          <button
            type="button"
            (click)="ModelIsShow.set(false)"
            class="bg-gray-300 px-4 py-2 rounded hover:bg-gray-400 cursor-pointer"
          >
            Cancel
          </button>

          <button
            type="submit"
            [disabled]="addCompetitionIsLoading()"
            class="bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-800 flex items-center cursor-pointer gap-2"
          >
            @if (addCompetitionIsLoading()) {
              <i class="fa fa-spinner fa-spin"></i>
            }
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
}

<!-- update modal -->
@if (updateModelShow()) {
  <div class="fixed inset-0 z-50 bg-black/80 flex items-center justify-center p-4">
    <div class="bg-white w-full max-w-lg rounded-xl shadow-xl p-6 max-h-[90vh] overflow-y-auto">
      <h2 class="text-xl md:text-2xl font-semibold text-blue-800 mb-4">Create Competition :</h2>

      <form (ngSubmit)="updateCompetition()" class="space-y-4" [formGroup]="updateCompetitionForm">
        <div class="space-y-2">
          <label for="competition-title" class="block font-semibold">Competition Title : </label>
          <input
            formControlName="title"
            id="competition-title"
            placeholder="Title"
            class="w-full border rounded px-3 py-2 focus:ring focus:ring-blue-200"
          />
        </div>

        <div class="space-y-2">
          <label for="competition-description" class="font-semibold block"
            >Competition Description :</label
          >
          <textarea
            formControlName="description"
            placeholder="Description"
            id="competition-description"
            class="w-full border rounded px-3 py-2"
          ></textarea>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div class="space-y-2">
            <label for="start-date" class="font-semibold block">Start Date : </label>
            <input
              type="date"
              formControlName="startDate"
              class="w-full border rounded px-3 py-2"
            />
          </div>
          <div class="space-y-2">
            <label for="endDate" class="font-semibold block">End Date :</label>
            <input type="date" formControlName="endDate" class="w-full border rounded px-3 py-2" />
          </div>
        </div>

        <div class="space-y-2">
          <label for="competition-status" class="font-semibold block">Competition Status :</label>
          <select formControlName="status" class="w-full border rounded px-3 py-2">
          <option>Active</option>
          <option>Upcoming</option>
          <option>Closed</option>
        </select>
        </div>

        <div class="flex justify-end gap-3 pt-4">
          <button
            type="button"
            (click)="updateModelShow.set(false)"
            class="bg-gray-300 px-4 py-2 rounded hover:bg-gray-400 cursor-pointer"
          >
            Cancel
          </button>

          <button
            type="submit"
            [disabled]="updateCompetitionLoading()"
            class="bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-800 flex items-center cursor-pointer gap-2"
          >
            @if (updateCompetitionLoading()) {
              <i class="fa fa-spinner fa-spin"></i>
            }
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
}

@if (deleteCompetitionsLoading()) {
  <div class="bg-black/80 flex items-center justify-center fixed inset-0 z-10000">
    <i class="fa fa-spin fa-spinner text-[70px] text-blue-800"></i>
  </div>
}
