<div class="max-w-7xl mx-auto p-4">
<div class="flex items-center md:justify-between md:flex-row gap-2 flex-col">
  <h1 class="text-[25px] font-semibold text-blue-800">All Competitions:</h1>
  
   

        <input [value]="searchTerm" [(ngModel)]="searchTerm" type="search" id="search" class="block w-full md:w-1/2 p-2 ps-9 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded focus:ring-brand focus:border-brand shadow-xs placeholder:text-body" placeholder="Search Competition....." required />
       


</div>

  <div class="grid md:grid-cols-3 my-5 md:my-10 gap-3">
    @if (competitionsLoading()) {
      @for (item of [0, 0, 0, 0, 0, 0]; track $index) {
        <div class="box bg-[#e0f1ff] relative py-2 rounded-xl">
          <!-- title -->
          <span class="absolute right-2 h-6 w-24 rounded-xl skeleton"></span>

          <div class="p-4 flex flex-col gap-4">
            <!-- description -->
            <div class="space-y-2">
              <div class="h-4 w-full rounded skeleton"></div>
              <div class="h-4 w-5/6 rounded skeleton"></div>
              <div class="h-4 w-2/3 rounded skeleton"></div>
            </div>

            <!-- date -->
            <div class="flex items-center gap-2 w-fit">
              <i class="fa-regular fa-calendar-days text-gray-400 fa-fade"></i>
              <div class="h-8 w-28 rounded-xl skeleton"></div>
            </div>
          </div>

          <!-- button -->
          <div class="border-t border-gray-400 py-2 px-4">
            <div class="h-10 w-full rounded skeleton"></div>
          </div>
        </div>
      }
    } @else {
      @for (item of competitions | searchByTiTleOrDescription : searchTerm; track $index) {
        <div
          class="box bg-[#e0f1ff] relative py-2 rounded-xl hover:-translate-y-1.25 cursor-pointer"
        >
          <span class="bg-red-400 rounded-xl px-2 py-1 text-white absolute right-2">{{
            item?.title
          }}</span>
          <div class="p-4 flex flex-col gap-4">
            <p class="line-clamp-1 mt-5">{{ item?.description }}</p>
            <span class="bg-blue-800 rounded-xl px-4 py-2 block w-fit text-white"
              ><i class="fa-regular fa-calendar-days"></i>{{ item?.endDate }}</span
            >
          </div>

          <div class="border-t border-gray-400 py-2">
            <button
              [routerLink]="['/competition-details', item.competitionId]"
              class="flex w-full text-center items-center justify-center gap-2 bg-blue-700 px-4 py-2 rounded transition-all duration-500 text-white font-semibold cursor-pointer hover:bg-blue-800"
            >
              View Details
            </button>
          </div>
        </div>
      }
    }
  </div>
</div>
